.footer-top{
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;

    img{
        width: 3.125rem;
    }

    ul{
        display: flex;
        li{
            list-style: none;
            display: flex;
            align-items: center;
            padding: 1.25rem;

            a{
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                padding: .625rem;
            }
        }
    }
}
